extends layout

block content
    h1.h3.text-center.mb-4 Containers

    p.text-center
        a(href='/containers/list') Container List
        |  &nbsp;&ndash; only for global admins and doesn't work for standard users.

    p.text-center.mb-2 Container Search - Available to standard users with correct OAuth permissions.

    p.text-center.mb-3
      a(href='/containers/create' class="btn btn-primary") Create Container
