extends layout 

block content 
  .container.mt-4
    h1.mb-4 Containers
    p 
        a(href='/containers/list') Container List
        &nbsp;&ndash; only for global admins and doesnt work for standard users.
    p Container Search - Available to standard users with correct oauth perms. 
