extends layout 

block content 
  .container.mt-4
    h1.mb-4 Welcome

    p.mb-3 
      a(href=`/containers/list` ) List Containers 
      
    p.mb-3
      a(href=`/containers/create` class="btn btn-primary") Create Container
      
    
