extends layout

block content
    h1 File Upload
    form(action="/files/upload-file", method="post", enctype="multipart/form-data")
      .form-group
        label(for="file") Choose file to upload
        input(type="file", name="file", id="file")
      button(type="submit") Upload File