extends layout

block content
  .container.mt-4
    p.h1 SharePoint Embedded Playground

    p
      a(href=`/signin` class="btn btn-success") Sign In (Delegated)
    p
      a(href=`/app-only` class="btn btn-success") App Only Authentication

    p &nbsp;

    p.h4 First Time Users Start Here
    p
      a(href=`/sharepoint/` class="btn btn-success") SharePoint Only to Register Container Type


