extends layout

block content
    h1.h3.text-center.mt-4 SharePoint Embedded Playground

    // Center the button without a nested container
    .d-flex.justify-content-center.mt-4
      a(href='/signin' class="btn btn-success btn-lg w-100") Sign In (Delegated)
