doctype html
html
  head
    title= title
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if username
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/') SPE Playground
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='/containers/') Containers
            li.nav-item
              a.nav-link(href='/search/') Search
            li.nav-item
              a.nav-link(href='/test-sample') Test Sample
            li.nav-item
              a.nav-link(href='/signout/') Sign Out (#{username})
    else
      p Please log in to see the menu.

    block content

    // Bootstrap JS, Popper.js, and jQuery
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
