extends layout

block content
  .container.mt-4
    h1 Search
    form(action="/search/search" method="POST")
      .form-group
        label(for="searchType") Search Type
        select#searchType.form-control(name="searchType")
          option(value="Drive") Drive
          option(value="DriveItem" selected) DriveItem
          //option(value="Drive+DriveItem") Drive+DriveItem

      // Add radio buttons for search mode selection
      .form-group
        label Search Mode
        .form-check
          input#searchTerm.form-check-input(type="radio" name="searchMode" value="term" checked)
          label.form-check-label(for="searchTerm") Search Terms, Automatically Append Container Type Id
        .form-check
          input#exactMatch.form-check-input(type="radio" name="searchMode" value="exact" )
          label.form-check-label(for="exactMatch") Exact Match

      .form-group
        label(for="searchQuery") Search Query
        input#searchQuery.form-control(type="text" name="searchQuery" required=true)

      p 
        button.btn.btn-primary(type="submit") Search

      p.h3 Notes on searching 

      p To search for a file using metadata, use "exact" and enter "FieldNameOWSTEXT:'fieldvalue'" 


