extends layout

block content
  .container.mt-4
    h1 Search
    form(action="/search/search" method="POST")
      .form-group
        label(for="searchQuery") Search Query
        input#searchQuery.form-control(type="text" name="searchQuery" required=true)
      button.btn.btn-primary(type="submit") Search

    p.mb-3 
      &nbsp;

    p.mb-3
      a(href=`/search/searchSample` class="btn btn-primary") Search Sample (Reid3:reid3evergreen)
      &nbsp;

    p.mb-3
      a(href=`/search/searchDrives` class="btn btn-primary") Search Drives (prod)
      &nbsp;

    p.mb-3
      a(href=`/search/searchContainer` class="btn btn-primary") Search Container (prod)
      &nbsp;