extends layout

block content
  .container.mt-4
    h1 SharePoint Only -- Register Your Container Type 

    p.mb-2
      a.btn.btn-primary(href="./sharepoint-only" ) Step 1: SharePoint Online App Only Authentication
      
    p.mb-2
      a.btn.btn-primary(href="./register-container-type") Step 2: Register Container Type

    p.mb2 
      a.btn.btn-primary(href="/signout/") Step 3: Sign Out
    

