extends layout

block content
  .container.mt-4
    h1 SharePoint 

    p.mb-2
      a(href="./sharepoint-only" ) Step 1: SharePoint Online App Only Authentication
      
    p.mb-2
      a.btn.btn-primary(href="./register-container-type") Step 2: Register Container Type
    

