extends layout

block content
  .container.mt-4
    h1 SharePoint 

    p.mb-2
      a.btn.btn-primary(href="./register-container-type") Register Container Type
    
    p.mb-2
      a(href="./sharepoint-only" class="btn btn-success") SharePoint Online App Only Authentication
